/Cube.class
/IStatements.class
/IsOdd.class
/LambdaCollections.class
/LambdaExpWithParameter.class
/LambdaWithoutParameter.class
/Message.class
/Student.class
/UsingFunationlInterfaces.class
/Display.class
/WithoutLambdaExpr.class
/WithoutLambdaExpr$1.class
